:root {
    --primary--color: rgb(36, 36, 36);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1b3d49;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: blur(10%);
}

h1 {
    text-align: center;
}

.Logo {
    display: block;
    margin: 0 auto 20px;
    margin-top: 25px;
    max-width: 100%;
    width: 250px;
    height: auto;
    border-radius: 150px;
}

h1#welcome-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-container {
    width: 400px;
    margin: 30px auto;
    background-color: white;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

#loginForm button {
    padding: 12px 25px;
    background-color: var(--primary--color);
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    flex: 1; 
    margin: 15px 0px 15px 0px;
    transition: 0.2s;
}

#loginForm button + button {
    margin-left: 10px;
}

#loginForm button:hover {
    opacity: 80%;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-message {
    margin-bottom: 10px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signup-link {
    text-decoration: none;
    color: #007bff;
}