* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1b3d49;
}

h1 {
    text-align: center;
}

.Logo {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 300px;
    height: auto;
}

.form-container {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

#loginForm button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    flex: 1; 
}

#loginForm button + button {
    margin-left: 10px;
}

#loginForm button:hover {
    background-color: #0056b3;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-message {
    margin-bottom: 10px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.signup-link {
    text-decoration: none;
    color: #007bff;
}